option:hover {
  background-color: red !important;
  color: white;
}
.bg-primary{
  background-color: #fe0000;
}
/* Hide scrollbar but allow scrolling */
/* Custom Scrollbar */
aside::-webkit-scrollbar {
  width: 6px;
}

aside::-webkit-scrollbar-thumb {
  background: #fe0000;
  border-radius: 4px;
}

aside::-webkit-scrollbar-track {
  background: #f1f1f1;
}

