option:hover {
  background-color: red !important;
  color: white;
}
.bg-primary{
  background-color: #fe0000;
}
/* Hide scrollbar but allow scrolling */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* Hide scrollbar in IE & Edge */
  scrollbar-width: none;      /* Hide scrollbar in Firefox */
}
